<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper：根元素，namespace：命名空间-->
<mapper namespace="com.sailfish.mapper.PrivilegeMapper">

    <resultMap id="privilegeMap" type="com.sailfish.model.SysPrivilege">
        <id property="id" column="id"/>
        <result property="privilegeName" column="privilege_name"/>
        <result property="privilegeUrl" column="privilege_url"/>
    </resultMap>


    <!--这样写其实是有误导的，之前相同写法是统一传的id-->
    <select id="selectPrivilegeListByRoleId" resultMap="privilegeMap">
        SELECT t1.*
        FROM
        sys_privilege t1
        INNER JOIN sys_role_privilege t2 ON t1.id = t2.privilege_id
        WHERE
        t2.role_id = #{roleId}
    </select>
</mapper>